header {
    z-index: 25;
    background-color: $teal-500;
    color: $white;
    height: 176px;
    margin-bottom: 3em;
    // margin-bottom: 24px;
//    display: flex;
    .portfolio-header {
      height:128px;
    }
    h1 {
        margin-top: 32px;
        color: $white;
    }
    md-tabs .md-tab {
      color: rgba(255,255,255,.5);
      font-weight: 400;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    .md-tab.md-active {
      color: $white;
      font-weight: 500;
    }
    md-tabs md-ink-bar {
      color: $white;
      background: #FFC107;
      height:4px;
    }
    .navigation-bar {
      background-color: $teal-600;
    }
}
.user-menu {
  float: right;
  height: 48px;
  color: $white;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
   md-icon {
     color: $white;
   }
  .user-menu-text {
    display: inline-block;
    padding: 6px;
    font-weight: 500;
  }
  .profile-pic {
    border-radius: 50%;
    img {
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }
}

.user-menu-dropdown {
  a:hover, a:focus{
    color: rgba(0, 0, 0, 0.87);
  }
}
.devin-pic,
.header-text{
  display: inline-block;
}
.devin-pic {
  img {
    margin:20px 24px 0 0;
    width:96px;
    border-radius: 50%;
  }
}
.header-text {
  vertical-align: top;
}
