body, md-content {
  min-height: 100vh;
}
body {
  overflow: visible;
}

md-content {
  overflow: hidden;
  background-color: #fafafa;
}
.container {
  max-width: 1200px;
  display: block;
  margin: auto;
}
.no-margin {
  margin: 0 0 0 0;
}
.no-margin-h {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-v {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-v {
  margin-top: 16px;
  margin-bottom: 16px;
}

.padding-r {
  padding-right: 16px;
}

.padding-l {
  padding-left: 16px;
}

.padding-t {
  padding-top: 16px;
}

.padding-b {
  padding-bottom: 16px;
}

.no-padding-r {
  padding-right: 0;
}

.no-padding-l {
  padding-left: 0;
}

.no-padding-v {
  padding-top: 0;
  padding-bottom: 0;
}

.no-padding-t {
  padding-top: 0;
}

.no-padding-b {
  padding-bottom: 0;
}

.margin-b {
  margin-bottom: 16px;
}
.margin-t {
  margin-top: 16px;
}
.no-margin-t {
  margin-top: 0px;
}
