body {
//  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.5;
  display: block;
}
.center-text {
  text-align: center;
}

h2 {
  margin-bottom: .5em;
}
