//Colors
$white: #fff;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;

//Animation Timing
$easeOutExpo  : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo   : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

$timing   : 1.5s;
$delay: 1s;

$animationDelay: 0.2s;
$fade-timing: 2s;
// $1s: 1s;
