<div class="container" animate-on-load >
  <div class="md-display-1 motto center-text">
    <div class="motto-text faded-text">
      <span class="animate-fade-in" animate-on-load ng-if="vm.showDesign">
        Design,
      </span>
      <span class="animate-fade-in" animate-on-load ng-if="vm.showCreate">
        Create,
      </span>
      <span class="animate-fade-in" animate-on-load ng-if="vm.showInspire">
        Inspire.
      </span>
    </div>
  </div>
</div>


<div ng-if="vm.intro">
  <div class="heading animate-fade-in-up container" animate-on-load ng-if="vm.showIntroHeading">
    <h2 class="md-display-1">About</h2>
  </div>
  <section class="container margin-top animate-fade-in-up" animate-on-load ng-if="vm.showIntroText">
    <md-card class="no-margin-h intro-text">
      <md-card-content>
        <p ng-bind-html="vm.intro"></p>
      </md-card-content>
    </md-card>
  </section>

  <div class="container">
    <div class="heading margin-t animate-move-up animate-fade-in" animate-on-load ng-if="vm.showSkillsHeading">
      <h2 class="md-display-1">Skills</h2>
    </div>
    <md-card class="no-margin-h skills-list animate-move-up animate-fade-in" animate-on-load  ng-if="vm.showSkillsList">
      <md-card-content>
        <section class="skills-list">
          <div layout="column" layout-gt-xs="row" layout-wrap>
            <div flex="25" flex-sm="50" flex-xs="100">
              <p class="md-title">Web</p>
              <p ng-repeat="skill in vm.webSkills" class="animate-repeat animate-fade-in" animate-on-load>{{skill}}</p>
            </div>
            <md-divider flex="100" hide-gt-xs></md-divider>
            <div flex="25" flex-sm="50" flex-xs="100">
              <p class="md-title">Design</p>
              <p ng-repeat="skill in vm.designSkills" class="animate-repeat animate-fade-in" animate-on-load>{{skill}}</p>
            </div>
            <md-divider flex="100" hide-gt-xs></md-divider>
            <div flex="25" flex-sm="50" flex-xs="100">
              <p class="md-title">Development</p>
              <p ng-repeat="skill in vm.developmentSkills" class="animate-repeat animate-fade-in" animate-on-load>{{skill}}</p>
            </div>
            <md-divider flex="100" hide-gt-xs></md-divider>
            <div flex="25" flex-sm="50" flex-xs="100">
              <p class="md-title">Digital Media</p>
              <p ng-repeat="skill in vm.digitalMediaSkills" class="animate-repeat animate-fade-in" animate-on-load>{{skill}}</p>
            </div>
          </div>
        </section>
      </md-card-content>
    </md-card>
  </div>

</div>
