.intro-text {
  margin-bottom: 2em;
  p {
    &:first-child {
      margin-top:0;
    }
    &:last-child {
      margin-bottom:0;
    }
  }
}
.skills-list {
  p {
    margin: .5em;
  }
}
.motto {
  margin: 1em 0;
  .motto-text {
    text-align: left;
    display: inline-block;
    width: 355px;
  }
}

@media (max-width: 500px) {
  .title-1 {
    display: block;
  }
  header h1 {
    margin-top: 24px!important;
  }
  .devin-pic img {
    margin: 20px 6px 0 0!important;
    width: 72px!important;
  }
  .motto {
    margin: 1em 0!important;
  }
  .motto-text {
        display: inline!important;
    width: 100%;

    span {
      display: block;
      text-align: center;
    }
  }
}
