<!-- <div class="page-background experience-background"></div> -->
<div class="heading animate-fade-in animate-move-up" animate-on-load>
  <h2 class="md-display-1 container">Experience</h2>
</div>
<section class="container">
  <div layout="column" layout-fill layout-wrap class="clear-both">
    
    <md-card class="md-padding no-margin-h animate-move-up animate-fade-in" flex="100" animate-on-load>
      <div class="animate-repeat" layout="column" ng-repeat="experience in vm.experienceList | orderBy: 'order'">
        <div class="experience-card-text">
          <h4 class="md-title">{{experience.position}}</h4>
          <h5 class="md-subhead">{{experience.company}} {{experience.date}}</h5>
          <p>{{experience.role}}</p>
          <p>{{experience.result}}</p>
          <md-button ng-show="vm.authentication.user" class="no-margin" ui-sref="experience.edit({ 'experienceId': experience._id })">
            Edit
          </md-button>
        </div>
        <md-divider ng-if="$index !== vm.experienceList.length-1"></md-divider>
      </div>
    </md-card>
  </div>
</section>
