.delay-2s {
  transition-delay: 2s!important;
//  animation-delay: 2s!important;
}
//
//.delay-4s {
//  transition-delay: 4s!important;
//}
.no-delay-leave.ng-leave {
  transition-duration: 0s!important;
  transition-delay: 0s!important;
}
