//$animationDelay: 0.2s;
//$fade-timing: 2s;

.animate-repeat {
  opacity            : 1;
  -webkit-transition : $timing $easeOutExpo all;
  transition         : $timing $easeOutExpo all;
  transition-delay   : 0s;
//  transform: translateY(0px);
//  position: relative;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition : $timing $easeOutExpo all;
  transition         : $timing $easeOutExpo all;
}
//.animate-repeat.ng-leave.ng-leave-active,
//.animate-repeat.ng-move,
//.animate-repeat.ng-enter {
////  opacity: 0;
////  transform: translateY(50px);
//}
//.animate-repeat.ng-leave,
//.animate-repeat.ng-move.ng-move-active,
//.animate-repeat.ng-enter.ng-enter-active {
////  opacity: 1;
////  transform: translateY(0px);
//}
/**
 * Stagger Leave (hide) animation
 */
.animate-repeat.ng-leave-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay   : 0.2s;
  transition-delay           : 0.2s;
  /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration        : 0s;
  display: block;
}
/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  /* this will have a 100ms delay between each successive enter animation */
  -webkit-transition-delay   : $animationDelay;
  transition-delay           : $animationDelay;
  /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration        : 0s;
}


.animate-fade-in-up {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
  transition-delay   : 2s;
  transform: translateY(0px);
  opacity            : 1;
  position: relative;
}

.animate-fade-in-up.ng-move,
.animate-fade-in-up.ng-enter,
.animate-fade-in-up.ng-leave {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
  // -webkit-transition:all $easeOutExpo .5s;
  // transition:all $easeOutExpo .5s;
}
// .animate-fade-in-up.ng-leave.ng-leave-active,
.animate-fade-in-up.ng-move,
.animate-fade-in-up.ng-enter {
  transform: translateY(50px);
  opacity            : 0;
}
.animate-fade-in-up.ng-leave,
.animate-fade-in-up.ng-move.ng-move-active,
.animate-fade-in-up.ng-enter.ng-enter-active {
  transform: translateY(0px);
  opacity            : 1;
}

.animate-fade-in {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
  opacity            : 1;
}

.animate-fade-in.ng-move,
.animate-fade-in.ng-enter,
.animate-fade-in.ng-leave {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
}
.animate-fade-in.ng-leave.ng-leave-active,
.animate-fade-in.ng-move,
.animate-fade-in.ng-enter {
  opacity            : 0;
}
.animate-fade-in.ng-leave,
.animate-fade-in.ng-move.ng-move-active,
.animate-fade-in.ng-enter.ng-enter-active {
  opacity            : 1;
}

//Animate Move Up
.animate-move-up {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
  transform: translateY(0px);
  position: relative;
}

.animate-move-up.ng-move,
.animate-move-up.ng-enter,
.animate-move-up.ng-leave {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
}
.animate-move-up.ng-leave.ng-leave-active,
.animate-move-up.ng-move,
.animate-move-up.ng-enter {
  transform: translateY(50px);
}
.animate-move-up.ng-leave,
.animate-move-up.ng-move.ng-move-active,
.animate-move-up.ng-enter.ng-enter-active {
  transform: translateY(0px);
}

//AnimateMove Right
.animate-move-right {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
  transform: translateX(0px);
  position: relative;
}

.animate-move-right.ng-move,
.animate-move-right.ng-enter,
.animate-move-right.ng-leave {
  -webkit-transition : $fade-timing $easeOutExpo all;
  transition         : $fade-timing $easeOutExpo all;
}
.animate-move-right.ng-leave.ng-leave-active,
.animate-move-right.ng-move,
.animate-move-right.ng-enter {
  transform: translateX(-50px);
}
.animate-move-right.ng-leave,
.animate-move-right.ng-move.ng-move-active,
.animate-move-right.ng-enter.ng-enter-active {
  transform: translateX(0px);
}