<div class="heading animate-fade-in animate-move-up" animate-on-load>
  <h2 class="md-display-1 container">Projects</h2>
</div>
<section class="container" ng-if="vm.showProjectList && vm.projects">
  <div layout="row" layout-fill layout-wrap class="clear-both">
    <div class="animate-repeat animate-move-up animate-fade-in" flex="33" flex-xs="100" flex-sm="100"
      ng-repeat="project in vm.projects | orderBy: 'position'" animate-on-load>
      <!-- <md-card ui-sref="#" class="md-padding portfolio-card" layout="row" layout-align="start end"
       layout-wrap style="background: url({{project.cardImgSrc}}); background-size: 100% 175%; background-position: center;" ng-if="project">
        <div class="portfolio-card-text md-padding" flex="100">
          <h4 class="md-title" ng-bind="project.title"></h4>
          <h5 class="md-subhead" ng-bind="project.subtitle"></h5>
        </div>
      </md-card> -->
      <md-card ui-sref="#" class="md-padding portfolio-card" layout="row" layout-align="start end"
       layout-wrap ng-if="project">
        <div class="portfolio-image">
          <img ng-src="{{project.cardImgSrc}}"/>
        </div>
        <div class="portfolio-card-text md-padding" flex="100">
          <h4 class="md-title" ng-bind="project.title"></h4>
          <h5 class="md-subhead" ng-bind="project.subtitle"></h5>
        </div>
      </md-card>
    </div>
  </div>
</section>
