<section class="container">
  <div class="page-heading animate-fade-in" animate-on-load>

    <!-- Portfolio Heading / Date -->
    <h2 class="md-display-1" ng-bind="vm.project.title"></h2>

    <!-- Content Edit Buttons -->
    <div class="content-buttons" ng-show="vm.authentication.user._id == vm.project.user._id">
      <md-button class="md-accent md-raised" ng-if="vm.authentication.user" ng-click="vm.edit(vm.project);">
        edit
      </md-button>
      <md-button class="md-warn md-raised" ng-if="vm.authentication.user" ng-click="vm.remove();">
        delete
      </md-button>
    </div>

    <h2 class="md-title" ng-bind="vm.project.subtitle"></h2>
    <span ng-bind="vm.project.date"></span>
  </div>
  <div class="clearfix"></div>

  <!-- Portfolio Content -->
  <div layout="column" class="animate-fade-in" animate-on-load>
    <div layout="row" layout-wrap layout-align="center start" animate-on-load>
      <div flex="66" class="md-whiteframe-z1" ng-if="vm.project.youtubeLink">
        <a class="md-whiteframe-z1" ob-lazytube href="{{vm.project.youtubeLink}}">The Sandwich</a>
      </div>
    </div>
    <md-card class="md-padding no-margin-h" layout="row" layout-wrap layout-align="center start">
      <div layout="row" layout-wrap>

        <div ng-if="vm.project.type == 'project' && vm.project.picture" flex="33" class="padding-r padding-b">
          <img ng-cloak src="{{vm.project.picture}}"/>
        </div>
        <div ng-if="vm.project.type == 'website' && vm.project.picture" flex="50" class="padding-r padding-b">
          <img ng-cloak src="{{vm.project.picture}}"/>
        </div>
        <div flex>
          <div ng-bind-html="vm.project.content"></div>
          <md-button ng-if="vm.project.githubLink" href="{{vm.project.githubLink}}" target="_blank" class="md-raised">View on Github</md-button>
          <md-button ng-if="vm.project.appLink" href="{{vm.project.appLink}}" target="_blank"  class="md-primary md-raised">Launch App</md-button>
        </div>
      </div>
      <div flex="100">
        <md-divider></md-divider>
        <h4 class="md-title">Roles</h4>
        <md-chips ng-model="vm.project.roles" readonly="true"></md-chips>
      </div>
      <div flex="100">
        <md-divider></md-divider>
        <h4 class="md-title">Tags</h4>
        <md-chips ng-model="vm.project.tags" readonly="true"></md-chips>
      </div>
    </md-card>
  </div>
</section>
