<div class="heading animate-fade-in animate-move-up container" animate-on-load>
  <h2 class="md-display-1">Projects</h2>
</div>
<section class="container" ng-if="vm.showProjectList && vm.projects">
  <div layout="row" layout-fill layout-wrap class="clear-both">
    <div class="animate-repeat animate-move-up animate-fade-in" flex="33" flex-xs="100" flex-sm="50"
      ng-repeat="project in vm.projects | orderBy: 'position'" animate-on-load>
      <md-card ui-sref="root.projects.view({projectName: vm.getUrl(project.title), project: project})" class="md-padding portfolio-card" layout="row" layout-align="start end"
       layout-wrap ng-if="project">
        <div class="portfolio-image">
          <!-- <img ng-src="{{project.cardImgSrc}}"/> -->
          <div afkl-lazy-image="{{project.cardImgSrc}}" class="afkl-lazy-wrapper afkl-img-ratio-1-1 full-width"></div>
        </div>
        <div class="portfolio-card-text md-padding" flex="100">
          <h4 class="md-title" ng-bind="project.title"></h4>
          <h5 class="md-subhead" ng-bind="project.subtitle"></h5>
        </div>
      </md-card>
    </div>
  </div>
</section>
