<!-- <div class="page-background experience-background"></div> -->
<div class="heading animate-fade-in animate-move-up container" animate-on-load>
  <h2 class="md-display-1">Contact</h2>
</div>

<section class="container margin-top animate-fade-in animate-move-up"  animate-on-load ng-if="vm.showContactInfo">

  <div ng-if="vm.contact">
    <md-card class="no-margin-h">
      <md-card-content layout="row">
        <div flex="33">

        <p class="md-title no-margin-v">
          Email
        </p>
        <p>
          {{vm.contact.email}}
        </p>

        <!-- <md-divider class="margin-v"></md-divider> -->

        <p class="md-title no-margin-v">
          Phone
        </p>
        <p>
          {{vm.contact.phone}}
        </p>

        <!-- <md-divider class="margin-v"></md-divider> -->

        <p class="md-title no-margin-v">
          Home Town
        </p>
        <p>
          {{vm.contact.address}}
        </p>

        <md-button ng-show="vm.authentication.user" class="no-margin" ui-sref="contact-edit({ 'contactId': vm.contact._id })">Edit</md-button>
      </div>
      <div flex="66" layout="row" layout-wrap>
        <p class="md-title no-margin-v" flex="100">
          Send me a message
        </p>

        <md-input-container flex="100">
          <label>Subject</label>
          <input name="subject" type="text" ng-model="vm.message.subject" id="subject">
        </md-input-container>
        <md-input-container flex="100">
          <label>Message</label>
          <textarea name="subject" type="text" ng-model="vm.message.text" id="subject"></textarea>
        </md-input-container>
        <div  flex="100">
          <md-button class="md-primary md-raised" ng-click="vm.sendMessage()">send</md-button>
        </div>
      </div>
      </md-card-content>
    </md-card>
  </div>
</section>
