.contact-info {
  p {
    margin-top: 0;
  }
}
.facebook md-icon{
  color: #3b5998;
}
.googlePlus md-icon{
  color: #dd4b39;
}
.github md-icon{
  color: #000;
}
.linkedIn md-icon{
  color: #0077B5;
}
