<section class="portfolio-header container" layout="row">
  <div class="devin-pic">
    <img  alt="Devin Cook" src="assets/images/devin.jpg" />
  </div>
  <div class="header-text">
    <h1 class="page-title md-display-1">Devin Cook</h1>
    <span class="page-title md-subhead">
      <span class="title-1">Front-End Developer / </span>
      <span class="title-2">Interaction Designer
    </span>
  </div>
</section>

<section class="navigation-bar">
  <div class="container">
    <md-tabs md-stretch-tabs>
      <md-tab md-active="item.title === $root.activeTab" ng-repeat="item in vm.menu" ng-click="vm.go(item.sref)">{{item.title}}</md-tab>
    </md-tabs>
  </div>
</section>
