.gallery-modal {
  min-height: 570px;
  .md-dialog-content {
    padding: 0px;
  }
}
.image-description {
  bottom: 56px;
  position: fixed;
  width: calc(100% - 2em);
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.34);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
  p {
    margin: 0;
  }
}
.portfolio-gallery-image img{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

@media(max-width: 1100px) {
  .gallery-modal {
    min-height: 0;
    // overflow: hidden;
  }

}
